.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  
  

}

body {
  background-color: #8F4F4F;
}

h1 {
  margin: 30px;
  font-family: 'Lilita One', cursive;
  text-shadow: 10px 0 #F25287;
  font-size: 7rem;
  color: #78C4D4;
}

p {
  font-size: 2rem;
  color: #F2B4B4;
  font-family: 'Lilita One', cursive;
  text-shadow: 3px 0 #000;
}

img {
  width: 80%;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;

}


button {

  width: 120px;
  font-family: 'Lilita One', cursive;
  text-shadow: 1px 0 #F25287;
  font-size: 2rem;
  color: #78C4D4;
  border-radius: 50px 70px 40px 60px;
  padding: 5px;
  box-shadow: 0 0.3rem #EB5353;
  border-style: none;
  cursor: pointer;
  

}

.btn:hover {
  background: #CCF3EE;
  text-decoration: none;
}

.btn:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

footer {
  margin-top: 10%;
  margin-bottom: 50px;
  color: #DDDDDD;
  text-align: center;
  font-family: 'Lilita One', cursive;

}


/* Media Query: tablet or smaller */
@media screen and (max-width: 1000px) {
  .container {
      margin: auto 10px;
  }

 